<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="screen">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="javascripts/locationpicker.jquery.min.js"></script>
    
    <meta charset="utf-8"/>

     <title>Windy Times</title>
  </head>

  <body>

    <h1>Choose a place to nuke</h1>
    <div id="us3" style="width: 550px; height: 400px;"></div>

  Adress: <input type="text" id="address" style="width: 400px"/>
  <%= form_tag :wind_speed do%>
    <%= text_field_tag :lat, params[:lat] %>
    <%= text_field_tag :lng, params[:lng] %>
    <%= submit_tag("Send coordinates")%>
  <% end %>
    
    <script>$('#us3').locationpicker({
        location: {latitude: -22.999570, longitude: -43.348561},
        radius: 300,
        inputBinding: {
            latitudeInput: $('#lat'),
            longitudeInput: $('#lng'),
            locationNameInput: $('#address')
        },
        enableAutocomplete: true,
    });</script>

    

    <div id="container">
      <script>
      $(function render_chart() {
          $('#container').highcharts({
              chart: {
              },
              title: {
                  text: 'Wind Speed'
              },
              xAxis: {
                  categories: <%= raw @hours %>  
              },
              yAxis: {
                  title: {
                      text: 'Speed'
                  }
              },
              series: [{
                  name: 'Speed',
                  data: <%= @speeds %>
              }]
          });
      });
      </script>
    </div>
  </body>
</html>